.person {
  margin-bottom: 24px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    background-color: red;
  }
  &__info {
    border: 1px solid lightgray;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    &-caption {
      font-size: 28px;
      margin-bottom: 8px;
      color: #4a4a4a;
    }
    &-description {
      font-size: 20px;
      color: #999;
    }
  }
  &__action {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -1px;
    &-btn {
      width: 50%;
      height: 100%;
      background: unset;
      border: 1px solid lightgray;
      line-height: 40px;
      color: #999;
      transition: color .27s;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: #b52e31;
      }
      .btn-text {
        padding: 0 8px;
      }
    }
  }
}
